<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="fixed-bottom footer-override">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-center footer-link">
      <a
        href="/api-docs/swagger-ui.html"
        class="bottom-nav-link"
        rel="noopener noreferrer"
        target="_blank"
      >
        Swagger API Docs
      </a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
  </div>
</div>
